<div class="properties-rows">
  <div class="row">
    <% @properties.each do |property|  %>
      <div class="property span9">
        <div class="row">
          <div class="span3">
            <div class="image">
              <div class="content">
                <a href='#myModal' href="<%= update_view_count_property_path(property.id)%>" onclick="javascript:$('#property_id').val('<%=  property.id %>')" role="button" data-toggle="modal">
                  <% if property.images.present?  %>                
                    <% property.images.limit(1).each do |image| %>
                      <%= image_tag (image.image),:width=>"570", :height=>"425"  %>
                    <% end%> 
                  <% else %>
                    <%= image_tag ("images1.jpg"),:width=>"570", :height=>"425" %>
                  <% end %>
                </a>       
              </div><!-- /.content -->
            </div><!-- /.image -->
          </div>

          <div class="body span6">
            <div class="title-price row">
              <div class="title span4">
                <h2>   <a href='#myModal' href="<%= update_view_count_property_path(property.id)%>" onclick="javascript:$('#property_id').val('<%=  property.id %>')" role="button" data-toggle="modal"><%= property.title %> </a></h2>
              </div><!-- /.title -->

              <div class="price">
                <%= property.price %> INR
              </div><!-- /.price -->
            </div><!-- /.title -->

            <div class="location"><%= property.location %></div><!-- /.location -->

            <div class="body"> 
              <p><%= property.description %></p>
            </div><!-- /.body -->

            <div class="property-info clearfix">

              <% if property.property_type=='Apartment' || property.property_type=='Villa'%>
                <div class="bedrooms">
                  <i class="icon icon-normal-bed"></i>
                  <%= property.no_of_rooms %>
                </div><!-- /.bedrooms -->

                <div class="bathrooms">
                  <i class="icon icon-normal-shower"></i>
                  <%= property.bath_rooms %>
                </div><!-- /.bathrooms -->
              <% end %>
              <div class="more-info">
                <a href='#myModal' href="<%= update_view_count_property_path(property.id)%>" onclick="javascript:$('#property_id').val('<%=  property.id %>')" role="button" data-toggle="modal">More Info<i class='icon icon-normal-right-arrow-circle'></i></a>
              </div>
            </div><!-- /.info -->
          </div><!-- /.body -->
        </div><!-- /.row -->
      </div><!-- /.property -->
    <% end %>
  </div><!-- /.row -->
</div><!-- /.properties-grid -->

<div class="pagination pagination-centered">
  <%= will_paginate(@properties) %>
</div>



<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contact Us</h3>
  </div>
  <div class="modal-body">
    <%= render :partial=>"properties/send_contact_form" %>
  </div>
</div>