<div class="title">
</div><!-- /.title --> 
<div class="content">  
  <% if @contact.errors.any? %>
    <div id="errorExplanation" style="width:220px;">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited
        this post from being saved:</h2>
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @contact, :url =>  post_contact_property_path(@property, @contact), :html => {:method => 'post'},:remote => true  do |f| %>
    <div class="control-group">
      <label class="control-label" for="inputName">
        Name
        <span class="form-required" title="This field is required.">*</span>
      </label>
      <div class="controls">
        <%= f.text_field :name,:id=>"inputName",:required=>"required" %>
      </div><!-- /.controls -->
    </div><!-- /.control-group -->
    <div class="control-group">
      <label class="control-label" for="inputEmail">
        Email
        <span class="form-required" title="This field is required.">*</span>
      </label>
      <div class="controls">
        <%= f.email_field :email,:id=>"inputEmail" ,:required=>"required"%> 
      </div><!-- /.controls -->
    </div><!-- /.control-group -->
    <div class="control-group">
      <label class="control-label" for="inputPhone">
        Mobile No.
        <span class="form-required" title="This field is required.">*</span>
      </label>
      <div class="controls">
        <%= f.text_field :phone,:id=>"inputName",:required=>"required" %>
      </div><!-- /.controls -->
    </div><!-- /.control-group -->
    <div class="control-group">
      <label class="control-label" for="inputMessage">
        Message
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.text_area :question,:id=>"inputMessage",:required=>"required" %>
      </div><!-- /.controls -->
    </div><!-- /.control-group -->
    <div class="form-actions" >
      <%= f.submit "Send" ,:class=>"btn btn-primary arrow-right" %>
    </div><!-- /.form-actions -->
  <% end %>
</div>

