<%= f.error_messages %>

<div class="row">
  <div class="span4">

    <div class="control-group">
      <label class="control-label" for="address">
        Property type
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%=f.select :property_type, options_for_select([["Select" ,""],["Apartment","Apartment"],["Villa","Villa"],["Land","Land"],["PG/Hostel","PG/Hostel"],["OfficeCommercial/Godown","OfficeCommercial/Godown"],["Family House","Family House"],["Single Home","Single Home"]],:selected => f.object.property_type),{},:onchange => "change_form(this)" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="address">
        Contract type
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%=f.select :property_listing, options_for_select([["Select" ,""],["Sale","Sale"],["Rent","Rent"],["Lease","Lease"]],:selected => f.object.property_listing),{},:onchange => "change_form1(this)" %>
      </div>
    </div>

    <%#*<div class="control-group" id="land_sale">%>
      <%#*<label class="control-label" for="address">%>
        <%#*Contract type%>
        <%#*<span class="form-required" title="This field is required.">*</span>%>
      <%#*</label>%>

      <%#*<div class="controls">%>
        <%#= text_field_tag :property_listing,nil,:value=>"Sale" ,:readonly=>true %>
      <%#*</div>%>
    <%#*</div>%>

    <div class="control-group">
      <label class="control-label" for="address">
        Title of your Add
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.text_field :title %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="address">
        Price(INR)
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.text_field :price %>
      </div>
    </div>

    <div class="control-group" id="accomdiation">
      <label class="control-label" for="address">
        Accommodation For
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%=f.select :accomidiation, options_for_select([["Select" ,""],["Male","Male"],["Female","Female"]],:selected => f.object.accomidiation),:id=>"inputPropertyPropertyType" %>
      </div>
    </div>

    <div class="control-group" id="land">
      <label class="control-label" for="address">
        Type of Land
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.select :type_of_land,options_for_select([["Select" ,""],["Agricultural","Agricultural"],["Commercial","Commercial"],["Residential","Residential"]],:selected => f.object.type_of_land),:id=>"inputPropertyPropertyType"%>
      </div>
    </div>

    <div class="control-group" id="rooms">
      <label class="control-label" for="address">
        No.of BedRooms
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.select :no_of_rooms, options_for_select([["Bed Rooms",""]]+(1..10).map{|i| i},:selected => f.object.no_of_rooms) %>
      </div>
    </div>
    <div class="control-group" id="bath_rooms">
      <label class="control-label" for="address">
        No.of BathRooms
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.select :bath_rooms, options_for_select([["Bath Rooms",""]]+(1..10).map{|i| i},:selected => f.object.bath_rooms) %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="address">
        Area(Sq.ft)
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.text_field :area %>
      </div>
    </div>

    <div class="control-group" id="creatiwa">
      <label class="control-label" for="address">
        Need Creatiwa team for Your 2D/3D work
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.radio_button :creatiwa_team,"Yes",:style=>"margin-left:11px;"%> Yes<br/>
        <%= f.radio_button :creatiwa_team,"No",:style=>"margin-left:11px;"%> No
      </div>
    </div>

    <div class="control-group" id="furnish">
      <label class="control-label" for="address">
        Furnished
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.select :furnished,options_for_select([["Select" ,""],["Unfurnished","Unfurnished"],["Semi-Furnished","Semi-Furnished"],["Fully Furnished","Fully Furnished"]],:selected => f.object.furnished),:id=>"inputPropertyPropertyType"  %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="address">
        City
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.text_field :city,:value=>"Bangalore" ,:readonly=>true %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="address">
        Location
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls" id="location_1">
        <%= f.select :location,options_for_select([["Select",""]]+LOCATIONS,:selected => params[:search] ? params[:search][:location] : ""),{},:onchange => "change_location(this)" %>
      </div>
      <div class="controls" id="location_2">
        <%= text_field_tag :location %>
      </div>
    </div>
  </div>

  <div class="span4">
    <% if @property.new_record?  %>
      <div class="control-group">
        <label class="control-label" for="address">
          Upload images
        </label>

        <div class="controls">
          <%= f.fields_for :images, :html => {:multipart => true} do |image| %>
            <%= image.file_field :image %>
          <% end %>
        </div>
        <div class="controls" style="margin-top: -22px;margin-left: 285px;">
          <%= link_to_add_fields image_tag("add.jpeg") , f,:images %> 
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <label class="control-label" for="description">
        Description
      </label>

      <div class="controls">
        <%= f.text_area :description, :class=>"wp-editor-area", :rows=>"10", :style => "min-height: 150px;"  %>
      </div>
    </div>

    <div class="control-group" id="amenities">
      <label class="control-label">
        Amenities
      </label>

      <div class="controls">
        <ul class="unstyled">
          <% AMENITIES_TYPES.each do |am| %>
            <li>
              <label class="selectit"> <%= check_box_tag "amenity_type[]", "#{am}"%> <%= am %></label>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="controls" style="margin-top: -33px;margin-left: 295px;">
        <%= link_to_add_fields image_tag("add.jpeg") , f,:aminities %>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="control-group">
      <label class="control-label" for="description">
        You are
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.select :person_type, options_for_select([["Select" ,""],["Individual","Individual"],["Builder", "Builder"],["Broker","Broker"]],:selected => f.object.person_type) %>                      
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="description">
        Your name
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="description">
        Your Email
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="description">
        Your Mobile no
        <span class="form-required" title="This field is required.">*</span>
      </label>

      <div class="controls">
        <%= f.text_field :mobile %>
      </div>
    </div>
    <div class="control-group">
      <%= f.check_box :terms_of_service %>I Agree To <a href="#myModal2" role="button" data-toggle="modal" style="text-decoration:none;"> Terms And Conditions</a>
    </div>
  </div>
</div>

<div class="form-actions">
  <input type="submit" class="btn btn-primary" value="Save">
</div>

<script>
  function change_form(th) {
    if ($(th).val() === 'Apartment' || $(th).val() === 'Villa' || $(th).val() === 'Single Home' || $(th).val() === 'Family House') {
      $("#land").hide();
      $("#radio_buttons1").show();
      $("#rooms").show();
      $("#bath_rooms").show();
      $("#amenities").show();
      $("#furnish").show();
      $("#area").show();
    } else if ($(th).val() === 'Land') {
      $("#land").show();
      $("#rooms").hide();
      $("#bath_rooms").hide();
      $("#amenities").hide();
      $("#furnish").hide();
      $("#radio_buttons1").hide();
      $("#area").show();
    } else if ($(th).val() === 'OfficeCommercial') {
      $("#land").hide();
      $("#rooms").hide();
      $("#bath_rooms").hide();
      $("#radio_buttons1").show();
      $("#amenities").hide();
      $("#furnish").show();
      $("#area").show();
    } else {
      $("#land").hide();
      $("#rooms").hide();
      $("#bath_rooms").hide();
      $("#amenities").hide();
      $("#furnish").hide();
      $("#area").hide();
      $("#radio_buttons1").show();
    }
  }
  function change_form1(th) {
    if ($(th).val() === 'Sale') {
      $("#accomdiation").hide();
      $("#creatiwa").show();
      alert("This Property is valid only for 15days.If you want to continue please contact us.");
    }
    else {
      $("#creatiwa").hide();
      if ($("#property_property_type").val() === "PG/Hostel") {
        $("#accomdiation").show();
      }
    }
  }
  $(document).ready(function() {
    change_form($("#property_property_type"));
  });

  jQuery('.numbersOnly').keyup(function() {
    this.value = this.value.replace(/[^0-9\.]/g, '');
  });

  function change_location(th) {
    if ($(th).val() === "Other") {
      $("#location_1").hide();
       $("#location_2").show();
    }
  }
</script>


<style>
  #accomdiation,#rent,#land,#rooms,#amenities,#furnish,#area,#creatiwa,#land_sale,#location_2{
    display: none;
  }
  .submission-form.form-vertical .span4 {
    min-height: 480px;
  }
</style>

<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Terms and Conditions</h3>
  </div>
  <div class="modal-body2" style="margin-left:20px;">
    <p style="text-align: justify;">This is a Contract/Agreement between you (as a user of ezyprops.com) and parent company- ezyprops.  Ezyprops.com and its services are providing information platform for property buyers and Property owners to connect and communicate.  </p>
    <p style="text-align: justify;">This Contract is effective from the date when you first start using ezyprops.com and/or first start registration on ezyprops.com and the same shall continue until terminated by either party expressly by giving written notice. ezyprops.com provides advertising services relating to real estate/property and other connected services without any specific warranty of any specific result/outcome.</p>
    <p style="text-align: justify;">Ezyprops.com may modify this Agreement from time to time at its own discretion. Any alteration in this Contract term shall be effective on sending an alert email to that effect to your email address as provided by you from time to time. You are supposed to check the provisions of this Contract regularly to update yourself accordingly. Your use of ezyprops.com site implies your acceptance of change in this Contract as affected by ezyprops.com from time to time.</p>
  </div>
</div>
