<div class="content">  
  <% if @contact.errors.any? %>
    <div id="errorExplanation" style="width:220px;margin: 0px;">
      <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for(@contact, :as => :contact, :url => request_contact_properties_path, :method => "POST", :remote=>true)  do |f| %>
    <div class="control-group">
      <label class="control-label" for="inputEmail">
        Name
        <span class="form-required" title="This field is required.">*</span>
      </label>
      <div class="controls">
        <%= f.text_field :name,:id=>"inputEmail",:style=>"width:217px;" ,:required=>"required"%>
      </div><!-- /.controls -->
    </div><!-- /.control-group -->
    <div class="control-group">
      <label class="control-label" for="inputEmail">
        Email
        <span class="form-required" title="This field is required.">*</span>
      </label>
      <div class="controls">
        <%= f.email_field :email,:id=>"inputEmail" ,:style=>"width:217px;",:required=>"required"%> 
      </div><!-- /.controls -->
    </div><!-- /.control-group -->
    <div class="control-group">
      <label class="control-label" for="inputEmail">
        Mobile No.
        <span class="form-required" title="This field is required.">*</span>
      </label>
      <div class="controls">
        <%= f.text_field :phone,:id=>"inputEmail",:style=>"width:217px;",:required=>"required" %>
      </div><!-- /.controls -->
    </div><!-- /.control-group -->
    <div class="control-group">
      <label class="control-label" for="inputEmail">
        Locations.
        <span class="form-required" title="This field is required.">*</span>
      </label>
      <div class="controls">
        <%= f.text_field :location,:id=>"inputEmail",:style=>"width:217px;",:required=>"required" %>
      </div><!-- /.controls -->
    </div><!-- /.control-group -->
    <div class="control-group">
      <label class="control-label" for="inputEmail">
        Budget.
        <span class="form-required" title="This field is required.">*</span>
      </label>
      <div class="controls">
        <%= f.text_field :from_budget,:id=>"inputName" ,:placeholder=>"MinPrice",:style=>"width:100px;",:required=>"required" %> -
        <%= f.text_field :to_budget,:id=>"inputName",:placeholder=>"MaxPrice",:style=>"width:100px;" ,:required=>"required" %>
      </div><!-- /.controls -->
    </div><!-- /.control-group -->
    <%= f.submit "Send" ,:class=>"btn btn-primary arrow-right" ,:style=>"margin-left:150px;" %>
  <% end %> 
</div><!-- /.form-actions -->

