<%# if @property.status == 'active' %>
<div class="container">
  <div class="row">
    <div class="sidebar span3">
      <div id="enquireproperties_widget-2" class="widget enquire">

        <h2>Enquire Now</h2>

        <div class="content">
          <%= render :partial=>"contact" %>
        </div><!-- /.content -->

      </div>    <h2>Search Properties</h2>

      <div class="property-filter widget">
        <div class="content">
          <%= render :partial=> "index_search" %>
        </div>
        <!-- /.content -->
      </div><!-- /.property-filter -->
      <div id="partners_widget-2" class="widget partners">

        <h2>Partners In Development</h2>

        <div class="partners">
          <div class="row">
            <div class="span3">
              <div class="partner">
                 <%= link_to image_tag("logo.png",:style=>"border: 1px solid #CCCCCC; height: 51px; width: 239px; padding: 10px 15px;"), "http://www.dine-media.in/"%>
              </div>
            </div><!-- /.span3 -->
          </div><!-- /.row -->
        </div><!-- /.partners -->
      </div><div id="mostrecentproperties_widget-2" class="widget properties">

        <h2>Most Recent Properties</h2>

        <div class="content">
          <%= render :partial=>"home/most_recent_properties" ,:locals => {:properties => @properties}%>
        </div><!-- /.content -->

      </div>    <div id="agencies_widget-2" class="widget agencies">

<%#= render :partial=>"home/agent" %>

      </div>


    </div><!-- /#sidebar -->

    <div id="main" class="span9">

      <h1 class="page-header"><%= @property.title %>,</h1>
      <span><%= @property.location %> </span>

      <div class="property-detail">

        <div class="row">
          <div class="span6 gallery">
            <div class="preview">
              <% if @property.images.present? %>
                <%= image_tag(@property.images.first.image, :width => 570, :height => 425) %>
              <% end %>
            </div>

            <div class="content">
              <ul>
                <% if @property.images.present? %>
                  <% @property.images.each do |image| %>
                    <li class="active"><div class="thumb"><%= image_tag (image.image) %></div></li>
                  <% end%>
                <% end %>
              </ul>
            </div><!-- /.content -->
          </div>

          <div class="overview span3">
            <div class="overview">
              <div class="row">
                <div class="span3">
                  <h2>Overview</h2>

                  <table>
                    <tbody>
                      <tr>
                        <th>ID:</th>
                        <td>
                          <strong>#<%= @property.id %></strong
                        </td>
                      </tr>

                      <tr>
                        <th>Price:</th>
                        <td>
                          <%= @property.price %> INR

                        </td>
                      </tr>

                      <tr>
                        <th>Type:</th>
                        <td><%= @property.property_type %></td>
                      </tr>


                      <tr>
                        <th>Location:</th>
                        <td><%= @property.location %></td>
                      </tr>

                      <% if @property.property_type=="Apartment" || @property.property_type=="Villa" || @property.property_type=="Single Home" || @property.property_type=="Family House"%>
                        <tr>
                          <th>Bed Rooms:</th>
                          <td><%=  @property.no_of_rooms %></td>
                        </tr>
                        <tr>
                          <th>Bath Rooms:</th>
                          <td><%=  @property.bath_rooms %></td>
                        </tr>
                      <% end %>
                      <tr>
                        <th>Area(sq.ft):</th>
                        <td><%=  @property.area %></td>
                      </tr>
                      <% if @property.property_type=='PG/Hostel' %>
                        <tr>
                          <th>
                            Accommodation:
                          </th>
                          <td>
                            <%= @property.accomidiation %>
                          </td>
                        </tr>
                      <% end %>
                      <% if @property.property_type=='Land' %>
                        <tr>
                          <th>
                            LandType:
                          </th>
                          <td>
                            <%= @property.type_of_land %>
                          </td>
                        </tr>
                      <% end %>

<%#*<tr>%>
<%#*<th>%>
<%#*Rating:%>
<%#*</th>%>
<%#*<td>%>

<%#*<div class="kk-star-ratings  top-left lft" data-id="352">%>
<%#*<div class="kksr-stars kksr-star gray">%>
<%#*<div class="kksr-fuel kksr-star yellow" style="width:0%;"></div>%>
<%#*<!-- kksr-fuel --><a href="#1"></a><a href="#2"></a><a href="#3"></a><a href="#4"></a><a href="#5"></a>%>
<%#*</div>%>
<%#*<!-- kksr-stars -->%>
<%#*<div class="kksr-legend"></div>%>
<%#*<!-- kksr-legend -->%>
<%#*</div>%>
<%#*<!-- kk-star-ratings -->%>

<%#*</td>%>
<%#*</tr>%>

                    </tbody>
                  </table>
                </div>
                <!-- /.span2 -->
              </div>
              <!-- /.row -->
            </div><!-- /.overview -->        </div>
        </div>

        <h2>About Property</h2>

        <p><%= @property.description %></p>

        <div class="row">
          <div class="span6">
            <div class="row">
              <div class="span6">
                <% if @property.property_type=='Apartment' || @property.property_type=='Villa' %>
                  <h2>General amenities</h2>

                  <div class="row" style="margin-left: 3px;">
                    <ul class="span2">
                      <% @property.aminities[0..4].each do |aminity| %>
                        <li class="checked" style="width:180px;">  <%= aminity.aminity_type %></li>
                      <% end%>
                    </ul>
                    <% if @property.aminities.count > 4 %>
                      <ul class="span2">
                        <% @property.aminities[5..9].each do |aminity| %>
                          <li class="checked"style="width:180px;">  <%= aminity.aminity_type %></li>
                        <% end%>
                      </ul>
                    <% end %>
                    <% if @property.aminities.count > 9%>
                      <ul class="span2">
                        <% @property.aminities[10..14].each do |aminity| %>
                          <li class="checked"style="width:180px;">  <%= aminity.aminity_type %></li>
                        <% end%>
                      </ul>
                    <% end %>
                    <% if @property.aminities.count > 14 %>
                      <ul class="span2">
                        <% @property.aminities[15..19].each do |aminity| %>
                          <li class="checked"style="width:180px;"> <%= aminity.aminity_type %></li>
                        <% end%>
                      </ul>
                    <% end %>
                    <% if @property.aminities.count > 20%>
                      <ul class="span2">
                        <% @property.aminities[20..24].each do |aminity| %>
                          <li class="checked"style="width:180px;"> <%= aminity.aminity_type %></li>
                        <% end%>
                      </ul>
                    <% end %>
                    <% if @property.aminities.count > 24 %>
                      <ul class="span2">
                        <% @property.aminities[25..29].each do |aminity| %>
                          <li class="checked"style="width:180px;"> <%= aminity.aminity_type %></li>
                        <% end%>
                      </ul>
                    <% end %>
                  </div>
                <% end %>
              </div><!-- /.row -->
            </div>

            <div class="span3">
              <h2>Map</h2>

              <div id="property-map"></div>
            </div>

          </div>
        </div>

      </div><!-- /#main -->

    </div><!-- /.row -->
  </div><!-- /.container -->


<%# else %>
<%#*This Property is now Inactive status.%>
<%# end %>

  <script type="text/javascript">
    jQuery(document).ready(function($) {
      function LoadMapProperty() {
        var location = <%= @lat_long.to_json.html_safe %>;
        var types = <%= @type.to_json.html_safe %>;
        var markers = new Array();
        var mapOptions = {
          center: new google.maps.LatLng(12.9667, 77.5667),
          zoom: 08,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          scrollwheel: false
        };
        var map = new google.maps.Map(document.getElementById('property-map'), mapOptions);
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(location[0], location[1]),
          map: map,
          icon: 'http://wp.properta.byaviators.com/wp-content/themes/properta/assets/img/marker-transparent.png'
        });
        var myOptions = {
          draggable: true,
          content: '<div class="marker ' + types + '"><div class="marker-inner"></div></div>',
          disableAutoPan: true,
          pixelOffset: new google.maps.Size(-21, -58),
          position: new google.maps.LatLng(location[0], location[1]),
          closeBoxURL: "",
          isHidden: false,
          // pane: "mapPane",
          enableEventPropagation: true
        };
        marker.marker = new InfoBox(myOptions);
        marker.marker.isHidden = false;
        marker.marker.open(map, marker);
        markers.push(marker);
        google.maps.event.addListener(map, 'zoom_changed', function() {
          $.each(markers, function(index, marker) {
            marker.infobox.close();
          });
        });
      }

      google.maps.event.addDomListener(window, 'load', LoadMapProperty);
      var dragFlag = false;
      var start = 0, end = 0;
      function thisTouchStart(e) {
        dragFlag = true;
        start = e.touches[0].pageY;
      }

      function thisTouchEnd() {
        dragFlag = false;
      }

      function thisTouchMove(e) {
        if (!dragFlag)
          return;
        end = e.touches[0].pageY;
        window.scrollBy(0, (start - end));
      }

      document.getElementById("property-map").addEventListener("touchstart", thisTouchStart, true);
      document.getElementById("property-map").addEventListener("touchend", thisTouchEnd, true);
      document.getElementById("property-map").addEventListener("touchmove", thisTouchMove, true);
    });
  </script>


  <style >
    .widget.enquire .content input[type="submit"] {
      margin-bottom: 10px;
    }

  </style>