<div class="property">
  <div class="image">
    <div class="content">
      <a href='#myModal'href="<%= update_view_count_property_path(property.id)%>" onclick="javascript:$('#property_id').val('<%=  property.id %>')" role="button" data-toggle="modal">
        <div class="description"><p><%= property.description %></p></div>
        <% property.images.limit(1).each do |image| %>
          <%= image_tag (image.image),:width=>"270", :height=>"200"  %>
        <% end%> 
      </a>
    </div><!-- /.content -->


    <div class="rent-sale">
      <%= property.property_listing %>
    </div><!-- /.rent-sale -->

    <div class="price">
      <%= property.price %> INR
    </div><!-- /.price -->

  </div><!-- /.image -->

  <div class="info">
    <div class="title clearfix">
      <h2> <a href='#myModal' href="<%= update_view_count_property_path(property.id)%>" onclick="javascript:$('#property_id').val('<%=  property.id %>')" role="button" data-toggle="modal"><%= property.title %> </a></h2>
    </div><!-- /.title -->

    <div class="location"><%= property.location %></div><!-- /.location -->
  </div><!-- /.info -->

</div><!-- /.property -->

<div class="property-info clearfix">
  <div class="area">
    <i class="icon icon-normal-cursor-scale-up"></i>
    <%= property.area %>m<sup>2</sup>
  </div><!-- /.area -->
  <% if property.property_type=="Apartment" || property.property_type=="Villa" || property.property_type=="Single Home" || property.property_type== "Family House" %>
    <div class="bedrooms">
      <i class="icon icon-normal-bed"></i>
      <%= property.no_of_rooms %>
    </div><!-- /.bedrooms -->

    <div class="bathrooms">
      <i class="icon icon-normal-shower"></i>
      <%= property.bath_rooms %>
    </div><!-- /.bathrooms -->
  <% end %>
</div><!-- /.property-info -->
