<div class="map-wrapper">
  <div class="map">


    <script type="text/javascript">
<% if @properties.present? %>
        jQuery(document).ready(function($) {
          var map = $('#map').aviators_map({
            locations: <%= @lat_longs.to_json.html_safe %>,
            types: <%= @types.to_json.html_safe %>,
            contents: <%= @contents.to_json.html_safe %>,
            zoom: 12,
            center: {
              latitude: 12.971598700000000000,
              longitude: 77.594562699999980000
            },
            filterForm: '.map-filtering',
            enableGeolocation: '',
            pixelOffsetX: -75,
            pixelOffsetY: -200
          });
        });
<% else %>
        jQuery(document).ready(function($) {
          var map = $('#map').aviators_map({
            zoom: 12,
            center: {
              latitude: 12.971598700000000000,
              longitude: 77.594562699999980000
            },
            filterForm: '.map-filtering',
            enableGeolocation: '',
            pixelOffsetX: -75,
            pixelOffsetY: -200
          });
        });
<% end %>
    </script>
    <div id="map" class="map-inner" style="height: 720px"></div>
    <!-- /.map-inner -->

    <div class="container">
      <div class="row">
        <div class="span12">

          <div class="property-filter widget filter-horizontal">
            <div class="content">
              <form method="get" action="http://wp.properta.byaviators.com//aviators/plugins/properties/filter.php" class="form-inline map-filtering">

                <div class="property-types">
                  <div class="property-type apartment ">
                    <label for="filter_type_6">
                      <input type="checkbox" name="filter_type[]" title="Apartment" id="filter_type_6" class="no-ezmark" value="6" > Apartment
                    </label>
                  </div>
                  <div class="property-type building-area ">
                    <label for="filter_type_42">
                      <input type="checkbox" name="filter_type[]" title="Building Area" id="filter_type_42" class="no-ezmark" value="42" > Building Area
                    </label>
                  </div>
                  <div class="property-type condo ">
                    <label for="filter_type_43">
                      <input type="checkbox" name="filter_type[]" title="Condo" id="filter_type_43" class="no-ezmark" value="43" > Condo
                    </label>
                  </div>
                  <div class="property-type cottage ">
                    <label for="filter_type_44">
                      <input type="checkbox" name="filter_type[]" title="Cottage" id="filter_type_44" class="no-ezmark" value="44" > Cottage
                    </label>
                  </div>
                  <div class="property-type family-house ">
                    <label for="filter_type_41">
                      <input type="checkbox" name="filter_type[]" title="Family House" id="filter_type_41" class="no-ezmark" value="41" > Family House
                    </label>
                  </div>
                  <div class="property-type single-home ">
                    <label for="filter_type_40">
                      <input type="checkbox" name="filter_type[]" title="Single Home" id="filter_type_40" class="no-ezmark" value="40" > Single Home
                    </label>
                  </div>
                  <div class="property-type villa ">
                    <label for="filter_type_45">
                      <input type="checkbox" name="filter_type[]" title="Villa" id="filter_type_45" class="no-ezmark" value="45" > Villa
                    </label>
                  </div>
                </div>
                <!-- /.property-types -->
                <div class="general">
                  <select name="filter_location" id="inputLocation-" class="location">
                    <option value="">Location</option>
                    <option value="7" >Barney Circle</option>
                    <option value="56" >Benning</option>
                    <option value="54" >Benning Heights</option>
                    <option value="55" >Benning Ridge</option>
                    <option value="57" >Burrville</option>
                    <option value="47" >Capitol Hill</option>
                    <option value="58" >Capitol View</option>
                    <option value="59" >Central Northeast</option>
                    <option value="60" >Civic Betterment</option>
                    <option value="48" >Judiciary Square</option>
                    <option value="49" >Kingman Park</option>
                    <option value="50" >Navy Yard</option>
                    <option value="51" >Near Northeast</option>
                    <option value="65" >Spring Valley</option>
                    <option value="52" >Sursum Corda</option>
                    <option value="53" >Swampoodle</option>
                  </select>



                  <select name="filter_price_from" id="inputPriceFrom-" class="price-from">
                    <option value="">Price From</option>
                    <option value="1000" >1,000 €</option>
                    <option value="20000" >20,000 €</option>
                    <option value="50000" >50,000 €</option>
                    <option value="100000" >100,000 €</option>
                  </select>

                  <select name="filter_price_to" id="inputPriceTo-" class="price-to">
                    <option value="">Price To</option>
                    <option value="1000" >1,000 €</option>
                    <option value="20000" >20,000 €</option>
                    <option value="50000" >50,000 €</option>
                    <option value="100000" >100,000 €</option>
                  </select>

                  <input type="text" value="" name="filter_area_from" id="inputAreaFrom-" placeholder="Area from">

                  <input type="text" value="" name="filter_area_to" id="inputAreaTo-" placeholder="Area to">

                  <button class="btn btn-primary btn-large">Filter now!</button>
                </div><!-- /.general -->
              </form>
            </div>
            <!-- /.content -->
          </div><!-- /.property-filter -->                        </div>
        <!-- /.span12 -->
      </div>
      <!-- /.row -->
    </div><!-- /.container -->
  </div>
  <!-- /.map -->
</div><!-- /.map-wrapper -->
<div class="container">
  <div class="row">


    <div class="sidebar span3">
      <div id="search-2" class="widget widget_search"><h2>Quick Search</h2><div class="content">
          <form method="get" class="site-search" action="http://wp.properta.byaviators.com/">


            <input class="search-query form-text" placeholder="Search" type="text" name="s" id="s" value="">
            <button type="submit" class="btn">Search</button>

          </form><!-- /.site-search -->
        </div><!-- /.inner --></div><div id="partners_widget-2" class="widget partners">

        <h2>Partners</h2>

        <div class="partners">
          <div class="row">
            <div class="span3">
              <div class="partner">
                <a href="http://www.themeforest.net/">
                  <img width="270" height="70" src="assets/uploads/2013/08/themeforest.png" class="attachment-post-thumbnail wp-post-image" alt="themeforest" />
                </a>
              </div>
            </div><!-- /.span3 -->
          </div><!-- /.row -->
        </div><!-- /.partners -->
      </div><div id="mostrecentproperties_widget-2" class="widget properties">

        <h2>Most Recent Properties</h2>

        <div class="content">
          <%= render :partial => "most_recent_properties", :locals => {:properties => @properties} %>
        </div><!-- /.content -->

      </div>    
      <div id="agencies_widget-2" class="widget agencies">

        <h2>Agencies</h2>

        <div class="content">
          <div class="agency clearfix">
            <div class="header">
              <div class="image">
                <a href="agencies/beverly-hills-real-estate-agent/index.html">
                  <img src="/assets/img/agency-small-tmp.png" alt="Beverly Hills Real Estate">
                </a>
              </div>
              <!-- /.image -->

              <div class="info">
                <h2>Beverly Hills Real Estate</h2>

                <div class="properties-count">
                  <span class="number">2</span> properties
                </div>
                <!-- /.properties-count -->

                <a href="agencies/beverly-hills-real-estate-agent/index.html" class="btn">View profile</a>
              </div>
              <!-- /.info -->
            </div>
            <!-- /.header -->

            <div class="address">
              4265 Broadway Avenue<br />
              Johnson City, TN 37601
            </div><!-- /.address -->

            <div class="email">
              <a href="index686a.html?id=130">Contact</a>
            </div><!-- /.email -->

            <div class="phone">
              (401) 852-987
            </div><!-- /.phone -->

          </div><!-- /.agency -->
          <div class="agency clearfix">
            <div class="header">
              <div class="image">
                <a href="agencies/colombia-real-estate-for-sale/index.html">
                  <img src="/assets/img/agency-small-tmp.png" alt="Colombia Real Estate">
                </a>
              </div>
              <!-- /.image -->

              <div class="info">
                <h2>Colombia Real Estate</h2>

                <div class="properties-count">
                  <span class="number">6</span> properties
                </div>
                <!-- /.properties-count -->

                <a href="agencies/colombia-real-estate-for-sale/index.html" class="btn">View profile</a>
              </div>
              <!-- /.info -->
            </div>
            <!-- /.header -->

            <div class="address">
              485 Shinn Avenue<br />
              Pittsburgh, PA 15222
            </div><!-- /.address -->

            <div class="email">
              <a href="index46f5.html?id=129">Contact</a>
            </div><!-- /.email -->

            <div class="phone">
              (401) 458-965
            </div><!-- /.phone -->

          </div><!-- /.agency -->
        </div><!-- /.content -->

      </div>


    </div><!-- /#sidebar -->

    <div id="main" class="span9">

      <h2>Featured Properties</h2>

      <div class="content">
        <div class="properties-grid featured">
          <div class="row">
            <% @properties.limit(3).each do |property| %>
              <div class="span3">
                <%= render :partial => "properties", :locals => {:property => property} %>
              </div><!-- /.span4 -->
            <% end %>
          </div>
        </div><!-- /.properties-grid -->
      </div><!-- /.content -->

      <div class="show-all">
        <%= link_to "Show all", properties_path %>
        <hr>
      </div>
      <h1 class="page-header">Recent Properties</h1>

      <div class="properties-grid">
        <div class="row-fluid">
          <% @properties[0..3].each do |property| %>
            <div class="span3">
              <%= render :partial => "properties", :locals => {:property => property} %>
            </div>
          <% end %>

        </div>
        <% if @properties.length > 4 %>
          <div class="row-fluid">
            <% @properties[4..7].each do |property| %>
              <div class="span3">
                <%= render :partial => "properties", :locals => {:property => property} %>
              </div>
            <% end %>

          </div>
        <% end %>

        <div class="row-fluid">
        </div><!-- /.row -->
      </div><!-- /.properties-grid -->  
      <div class="show-all">
        <%= link_to "Show all", properties_path %>
      </div>
      <hr>

      <div id="text-2" class="widget widget_text">	
        <div class="textwidget">
          <div class="row">
            <div class="span3">
              <div class="content-box">
                <div class="row">

                  <div class="span1">
                    <div class="pictopro-icon">
                      <i class="icon icon-normal-profile-male"></i>
                    </div>
                  </div>

                  <div class="content span2">
                    <h3>Real Front end submission</h3>

                    <p>Properta allows your users to add their own properties in real front-end page.</p><p><a href="#">Show All<i class="icon icon-normal-right-arrow-circle"></i></a></p>
                  </div>
                  <!-- /.content -->
                </div>
                <!-- /.row -->
              </div><!-- /.content-box -->
            </div>
            <div class="span3">
              <div class="content-box">
                <div class="row">

                  <div class="span1">
                    <div class="pictopro-icon">
                      <i class="icon icon-normal-globe"></i>
                    </div>
                  </div>

                  <div class="content span2">
                    <h3>Translation Ready &amp; WPML Support</h3>

                    <p>Translate Properta to your language using PO files or WPML</p><p><a href="#">Show All<i class="icon icon-normal-right-arrow-circle"></i></a></p>
                  </div>
                  <!-- /.content -->
                </div>
                <!-- /.row -->
              </div><!-- /.content-box -->
            </div>
            <div class="span3">
              <div class="content-box">
                <div class="row">

                  <div class="span1">
                    <div class="pictopro-icon">
                      <i class="icon icon-normal-magnifier"></i>
                    </div>
                  </div>

                  <div class="content span2">
                    <h3>dsIDXPress for WP Support</h3>

                    <p>Properta supports leading IDX/MLS real estate search WP plugin.</p><p><a href="#">Show All<i class="icon icon-normal-right-arrow-circle"></i></a></p>
                  </div>
                  <!-- /.content -->
                </div>
                <!-- /.row -->
              </div><!-- /.content-box -->
            </div>
          </div>
        </div>
      </div>
      <div id="carouselproperties_widget-2" class="widget property-carousel">


        <h2>Carousel Properties</h2>

        <div class="carousel">
          <ul class="bxslider properties-grid unstyled">
            <% @properties.each do |property| %>
              <li>
                <%= render :partial => "properties", :locals => {:property => property} %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div id="partners_widget-3" class="widget partners">

        <h2>Partners</h2>

        <div class="partners">
          <div class="row">
            <div class="span3">
              <div class="partner">
                <a href="http://www.themeforest.net/">
                  <img width="270" height="70" src="assets/uploads/2013/08/themeforest.png" class="attachment-post-thumbnail wp-post-image" alt="themeforest" />
                </a>
              </div>
            </div><!-- /.span3 -->
            <div class="span3">
              <div class="partner">
                <a href="http://www.activeden.net/">
                  <img width="270" height="70" src="assets/uploads/2013/08/activeden.png" class="attachment-post-thumbnail wp-post-image" alt="activeden" />
                </a>
              </div>
            </div><!-- /.span3 -->
            <div class="span3">
              <div class="partner">
                <a href="http://www.3docean.net/">
                  <img width="270" height="70" src="assets/uploads/2013/08/3docean.png" class="attachment-post-thumbnail wp-post-image" alt="3docean" />
                </a>
              </div>
            </div><!-- /.span3 -->
            <div class="span3">
              <div class="partner">
                <a href="http://www.codecanyon.net/">
                  <img width="270" height="70" src="assets/uploads/2013/08/code-canyon.png" class="attachment-post-thumbnail wp-post-image" alt="code-canyon" />
                </a>
              </div>
            </div><!-- /.span3 -->
            <div class="span3">
              <div class="partner">
                <a href="http://www.photodune.net/">
                  <img width="270" height="70" src="assets/uploads/2013/08/photo-dune.png" class="attachment-post-thumbnail wp-post-image" alt="photo-dune" />
                </a>
              </div>
            </div><!-- /.span3 -->
            <div class="span3">
              <div class="partner">
                <a href="http://www.graphicriver.net/">
                  <img width="270" height="70" src="assets/uploads/2013/08/graphic-river.png" class="attachment-post-thumbnail wp-post-image" alt="graphic-river" />
                </a>
              </div>
            </div><!-- /.span3 -->
          </div><!-- /.row -->
        </div><!-- /.partners -->
      </div>            </div><!-- /#main -->

  </div><!-- /.row -->
</div><!-- /.container -->

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contact Us</h3>
  </div>
  <div class="modal-body">
    <%= render :partial=>"properties/send_contact_form" %>
  </div>
</div>

<!-- Modal -->
