<table class="table table-striped">
  <tr>
    <th>
      Id
    </th>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
    <th>
      MobileNumber
    </th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.id %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.email%>
      </td>
      <td>
        <%= user.mobile %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "Back", admin_dashboards_path,:class=>"btn btn-success" %>