<!DOCTYPE html>
<html>
  <head>
    <title>Ezyprops</title>
<%#= stylesheet_link_tag    "application", "dsidxpress/client7e2e.css", "dsidxpress/dsidxwidgets/client7e2e.css", "contact-form-7/styles039c.css", "kk-star-ratings/css7793.css", "revslider/rs-plugin/css/settings7e2e.css", "revslider/rs-plugin/css/captions7e2e.css", "fonts.css", "bootstrap.min7e2e.css", "bootstrap-responsive.min7e2e.css", "pictopro-normal/style7e2e.css", "pictopro-outline/style7e2e.css", "justvector-web-font/stylesheet7e2e.css", "chosen/chosen7e2e.css", "properta7e2e.css", "jquery.bxslider7e2e.css", "prettyphoto/css/prettyPhoto7e2e.css", "style7e2e.css", "sitepress-multilingual-cms/res/css/language-selectorb253.css" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <style>.kk-star-ratings { width:120px; }.kk-star-ratings .kksr-stars a { width:24px; }.kk-star-ratings .kksr-stars, .kk-star-ratings .kksr-stars .kksr-fuel, .kk-star-ratings .kksr-stars a { height:24px; }.kk-star-ratings .kksr-star.gray { background-image: url(/assets/gray.png); }.kk-star-ratings .kksr-star.yellow { background-image: url(/assets/yellow.png); }.kk-star-ratings .kksr-star.orange { background-image: url(/assets/orange.png); }</style>
    <%#*<script type="text/javascript">%>
      <%#*var bhittani_plugin_kksr_js = {"nonce": "d0203be1ed"};%>
    <%#*</script>%>
    <script type='text/javascript' src='/assets/jquery-migrate.min1576.js'></script>
    <%#*<script type='text/javascript' src='/assets/kk-star-ratings/js.min7793.js'></script>%>
    <script type='text/javascript' src='/assets/properta/aviators/plugins/properties/assets/js/geolocation.js'></script>
    <script type='text/javascript' src='/assets/jquery.ui.core.min.js'></script>
    <script type='text/javascript' src='/assets/jquery.ui.widget.min.js'></script>
    <script type='text/javascript' src='/assets/jquery.ui.mouse.min.js'></script>
    <script type='text/javascript' src='/assets/jquery.ui.sortable.min.js'></script>
    <script type='text/javascript' src='/assets/revslider/rs-plugin/js/jquery.themepunch.revolution.min7e2e.js'></script>
    <script type='text/javascript' src='/assets/properta/assets/js/aviators-settings7e2e.js'></script>
    <script type="text/javascript">
      var icl_lang = 'en';
      var icl_home = '<%= root_url %>';
    </script>
    <script type='text/javascript' src='/assets/sitepress-multilingual-cms/res/js/sitepress.js'></script>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller] == "properties" and params[:action] == "new" or params[:action] == "create" ? "page page-id-99 page-template page-template-page-submission-index-php logged-in" : "single single-property postid-352" %>">
    <div class="top">
      <div class="container">
        <div class="top-inner inverted">
          <div class="header clearfix">


            <div class="branding pull-left">
              <div class="logo">
                <%= link_to image_tag("logo_70.png",:style=>"width:130px;"), "/" %>
              </div><!-- /.logo -->
            </div>

            <div class="contact-top">
              <div style="float:left;margin: -64px 362px;">
                <span class="span_1">The property search engine</span>
              <span class="span_2">
                "Ab Sabka Kaam Banega"
              </span>
              </div>
              <span style="float:right;margin: -52px 5px;color:black;">
                support@ezyprops.com
              </span>
              
            </div>

          </div><!-- /.header -->

          <div class="navigation navbar clearfix">
            <div class="pull-left">
              <button type="button" class="btn btn-navbar" 284data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <div class="nav-collapse collapse">
                <ul id="menu-main" class="nav">
                  <li id="menu-item-69" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor  menu-item-69">
                    <%= link_to "Home", root_path %>
                  </li>
                  <li id="menu-item-70" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-70">
                    <%= link_to "About Us", about_us_path %>
                  </li>
                  <li id="menu-item-71" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-71">
                    <%= link_to "Privacy Policy", privacy_policy_path %>
                  </li>
                  <li id="menu-item-227" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-227">
                    <%= link_to "Help", help_path %>
                  </li>
                </ul>
              </div>
            </div>

            <div class="pull-right">

              <a href="/properties/new" class="list-property">
                <span class="link">List your property</span>
                <div class="ribbon"><span class="icon icon-normal-circle-plus"></span></div>
              </a>
              <!-- /.list-property -->
            </div><!-- /.pull-right -->

          </div>
        </div>
      </div>
    </div>


    <div id="content" class="clearfix">
<div id='ajax_loader_big_div' style='z-index:1000000;'>
<img alt=""  src="/assets/bx_loader.gif" style="width:60px;height: 60px;z-index:1000000;"/>
</div>
      <%= yield %>
    </div>

    <div id="footer-wrapper">                

      <div id="footer-top">
        <div id="footer-top-inner" class="container">
          <div class="row">
            <div class="span3">
              <div id="mostrecentproperties_widget-3" class="widget properties">

                <h2>Additional Services</h2>
                <div class="content">
                  <%= link_to "SMS CAMPAIGN", "#my-modal3", :class => "btn", "data-toggle" => "modal" %></br> (Verified 30 Lacks Mobile Numbers)</br>
                  <div class="modal hide fade" id="my-modal3" title="My modal" style="color:#4C9F28;">
                    <div class="modal-header">
                      <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                      <h3 id="myModalLabel">Contact Us For AdditionalServices</h3>
                    </div>
                    <div class="modal-body">
                      <%= render :partial=>"properties/contact_us" %>
                    </div>
                  </div>
                  <%= link_to "EMAIL CAMPAIGN", "#my-modal3", :class => "btn", "data-toggle" => "modal" %> <br/>(Verified 30 Lacks Email Ids)
                </div><!-- /.content -->

              </div>                                   
            </div>

            <div class="span3">
              <div id="nav_menu-2" class="widget widget_nav_menu"><h2>Helpful Links</h2><div class="menu-helpful-links-container"><ul id="menu-helpful-links" class="menu"><li id="menu-item-250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-250">  <%= link_to "Home", root_path %></li>
                    <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"> <%= link_to "About Us", about_us_path %></li>
                    <li id="menu-item-256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-256"> <%= link_to "Privacy Policy", privacy_policy_path %></li>
                    <li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252"><%= link_to "Help", help_path %></li>
                    <li id="menu-item-253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-253"><a href="/properties/new">List Your Property</a></li>
                  </ul></div></div>                                    </div>

            <div class="span3">
              <div id="agents_widget-2" class="widget our-agents">

                <h2>Promoters</h2>

                <div class="content">
                  <div class="agent clearfix">
                    <div class="image">
                      <img width="270" height="270" src="/assets/Neeraj.png" class="attachment-post-thumbnail wp-post-image" alt="agent2" />
                    </div><!-- /.image -->

                    <div class="name">
                      Neeraj Choudhary
                    </div><!-- /.name -->

                    <div class="phone">
                      <i class="icon icon-normal-phone"></i>
                      +91-9480018881
                    </div><!-- /.phone -->

                    <div class="email">
                      <i class="icon icon-normal-mail"></i>
                      neeraj@dine-media.com
                    </div><!-- /.email -->
                  </div><!-- /.agent -->
                  <div class="agent clearfix">
                    <div class="image">
                      <a href="agents/stephen-e-kennedy/index.html">
                        <img width="270" height="270" src="/assets/amith.png" class="attachment-post-thumbnail wp-post-image" alt="agent1" />
                      </a>
                    </div><!-- /.image -->

                    <div class="name">
                      Amit Tiwary
                    </div><!-- /.name -->

                    <div class="phone">
                      <i class="icon icon-normal-phone"></i>
                      +91-9901568660
                    </div><!-- /.phone -->

                    <div class="email">
                      <i class="icon icon-normal-mail"></i>
                      amit@creatiwads.in
                    </div><!-- /.email -->
                  </div><!-- /.agent -->
                </div><!-- /.content -->

              </div>
            </div>

            <div class="span3">
              <div id="featuredproperties_widget-2" class="widget properties">

                <h2>Contact Us</h2>

                <div class="content">
                  <%= render :partial => "properties/contact_us" %>                
                </div><!-- /.content -->
              </div>
            </div>                                    
          </div><!-- /.row -->
        </div><!-- /#footer-top-inner -->
      </div><!-- /#footer-top -->            

      <div class="footer-bottom">
        <div id="footer" class="footer container">
          <div id="footer-inner">
            <div class="row">
              <div class="span6">
                <div id="text-3" class="widget widget_text">			<div class="textwidget">&copy; 2014 Dine-Media, All Rights reserved</div>
                </div>                                        </div><!-- /.copyright -->

              <div class="span6">
                <div id="nav_menu-3" class="widget widget_nav_menu"><div class="menu-footer-links-container"><ul id="menu-footer-links" class="menu"><li id="menu-item-331" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-331"><a href="/">Homepage</a></li>
                      <li id="menu-item-328" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-328"><a href="/about_us">About Us</a></li>
                      <li id="menu-item-330" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-330"><a href="/privacy_policy">Privacy Policy</a></li>
                      <li id="menu-item-329" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-329"><a href="/help">Help</a></li>
                    </ul></div></div>                                        </div><!-- /.span6 -->
            </div><!-- /.row -->
          </div><!-- /#footer-inner -->
        </div><!-- /#footer -->
      </div>
    </div><!-- /#footer-wrapper -->
    <script type='text/javascript' src='/assets/contact-form-7/includes/js/jquery.form.min526c.js'></script>
    <script type='text/javascript' src='/assets/contact-form-7/includes/js/scripts039c.js'></script>
    <script type='text/javascript' src='http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true&amp;libraries=places&amp;ver=3.8.1'></script>
    <script type='text/javascript' src='/assets/properta/aviators/plugins/properties/assets/js/aviators-map7e2e.js'></script>
    <script type='text/javascript' src='/assets/properta/assets/js/gmap3.infobox.min7e2e.js'></script>
    <script type='text/javascript' src='/assets/properta/assets/js/bootstrap.min7e2e.js'></script>
    <script type='text/javascript' src='/assets/properta/assets/js/retina7e2e.js'></script>
    <script type='text/javascript' src='/assets/properta/assets/js/gmap3.clusterer7e2e.js'></script>
    <script type='text/javascript' src='/assets/properta/assets/libraries/chosen/chosen.jquery.min7e2e.js'></script>
    <script type='text/javascript' src='/assets/properta/assets/js/jquery.ezmark7e2e.js'></script>
    <script type='text/javascript' src='/assets/properta/assets/libraries/iosslider/_src/jquery.iosslider.min7e2e.js'></script>
    <script type='text/javascript' src='/assets/properta/assets/js/carousel7e2e.js'></script>
    <script type='text/javascript' src='/assets/properta/assets/libraries/prettyphoto/js/jquery.prettyPhoto7e2e.js'></script>
    <script type='text/javascript' src='/assets/properta/assets/js/jquery.bxslider7e2e.js'></script>
    <script type='text/javascript' src='/assets/properta/assets/js/properta7e2e.js'></script>

  </body>
</html>
